{% extends 'flatpages/default.html' %}

{% load custom_filter %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>Все посты</h1>


   {% if post %}
       <table>
           <tr>
               <td><h3>Заголовок</h3></td>
               <td><h3>Дата публикации</h3></td>
               <td><h3>Текст</h3></td>
           </tr>
           {% for post in post %}
           <tr>
			   <td><h6>{{ post.title | censor}}</h6></td>
               <td><h6>{{ post.time_created|date:'j.m.Y' }}</h6></td>
               <td><h6>{{ post.text | truncatechars:20| censor }}</h6></td>>
           </tr>
           {% endfor %}
       </table>

   {% else %}
       <h2>Постов нет!!</h2>
   {% endif %}

        {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}